table {
    width: 100%;
}

.card-with-spacing {
    margin-top: 25px;
}

.loading-spinner {
    padding: 30px;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}